<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
</head>
<body>
<h2>Cars List</h2>
<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}">Make</td>
        <td th:text="${car.color}">Model</td>
        <td th:text="${car.year}">Year</td>
    </tr>
    </tbody>
</table>
</body>
</html>